*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj

# Google && Firebase
**/google-services.json
**/GoogleService-Info.plist
**/firebase_app_id_file.json
*.env

# Android App Links
firebase/public/.well-known/assetlinks.json

# Apple Universal Links
firebase/public/.well-known/apple-app-site-association